
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: 2px solid black;
  font: 10px tahoma;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}